<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/view-add}">➕ Thêm mới thành viên luôn giữ bình tĩnh</a>
<table border="1" cellpadding="10" cellspacing="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Date Of Birth</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" p : ${personList} ">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.age}"></td>
        <td th:text="${p.gender}"></td>
        <!-- #dates dành cho đối tượng util.Date #temporals dành cho Datetime APi -->
        <td th:text="${#temporals.format(p.dateOfBirth,'dd-MM-yyyy')}"></td>
        <td th:text="${p.email}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>